@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#audio-element {
  display: none;
}
.bottom-player {
  display: flex;
  align-items: center;
  padding: 10px 40px 8px 40px;
  background-color: #2d2d38;
  height: 100%;
  width: 100%;
}
.bottom-player-left {
  flex-basis: 30%;
  display: flex;
  gap: 20px;

  .music-img {
    height: 65px;
    width: 65px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 10px solid #060606;
  }
  .music-detail {
    display: flex;
    align-items: center;
    .ar-name {
      font-size: 12px;
      color: #ababaf;
    }
  }
}
.bottom-player-middle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .play-top {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    margin-bottom: 5px;
    .last-music-img {
      transform: rotate(180deg);
    }
  }
  .play-bottom {
    display: flex;
    align-items: center;
    .time {
      color: #ababaf;
      scale: 0.75;
    }
    .strip {
      position: relative;
      width: 300px;
      height: 5px;
      border-radius: 5px;
      background-color: #ababaf;
      overflow: hidden;
      cursor: pointer;
      .color-strip {
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #bc5754;
        border-radius: 5px;
      }
    }
  }
}
.bottom-player-right {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  gap: 30px;
}
.player-img {
  width: 20px;
  cursor: pointer;
}
.play-img {
  cursor: pointer;
  width: 40px;
  background-color: #bc5754;
  border-radius: 50%;
  padding: 9px;
}
