.recommend-song {
  display: flex;
  .song-img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }
  .song-name {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
  .ar-name {
    font-size: 10px;
    color: rgb(195, 179, 172);
  }
}
