.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 1500px;
  .left {
    flex-basis: 15vw;
  }
  .right {
    flex-basis: 85vw;
    padding: 20px 3vw;
  }
  .main {
    width: 100%;
  }

  @media (min-width: 1550px) {
    .right {
      padding: 20px 7vw;
    }
  }
}
