.App {
  position: relative;
  display: flex;
  min-height: 100vh;
  min-width: 1500px;
  .left {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    flex-basis: 15%;
  }
  .right {
    flex-basis: 85%;
    padding: 20px 3vw 40px 3vw;
  }
  .main {
    width: 100%;
  }

  @media (min-width: 1550px) {
    .right {
      padding: 20px 7vw 40px 7vw;
    }
  }
}
